/****** BODY ******/
body {
    width: 100wv;
    margin: 0;
    background: green;
}

/****** NAVBAR STYLING ******/
.Navbar {
    overflow: hidden;
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* Disables the hightlight double click */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    -webkit-animation: moveNav 2.2s; /* -webkit-(animation) ensures that this will run properly on safari(apple browser) and chorme*/ 
    animation: moveNav 2.2s;
}@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

.Navbar a {
    cursor: pointer;
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-decoration: none; /* This property gets rid of anything on the text, in this case the underline from the anchor tag*/
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 2.90s;
    animation: moveNavText 2.90s;
}@keyframes moveNavText {
    from { top: -100vw;}
    to {top: 0vw;}
}.Navbar a:hover {
    background-color: #00FF41;
    color: black;
    font-weight: 900;
}


.Navbar .active {
    background-color: darkgray;
}

/*** This will adjust the setting incase the screen is 576px and smaller***/
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;
        font-size: 12px;
    }
}
/***** END OF NAVBAR STYLING *****/

/****** VIDEO BACKGROUND ******/
.Video-Background {
    min-width: 100vw;
    min-height: 100%;
}
#Typing_Video {
    width: 100%;
    height: 100%;
    filter: grayscale(75%) blur(2.5px);
}

.white-text {
    font-size: 3vw;
    font-family: 'Times New Roman',sans-serif;
    color: #008F11;
    text-shadow: .5px .5px 1px #00FF41;
    position: absolute; 
    top: 2%;
    left: 30%;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    padding: 40px;

}.white-text h1:nth-child(1) { 
    margin-top: 10%;
    font-family: 'Press Start 2P', cursive;
    font-size: 4vw;
}.white-text p {
    margin-top: 15%;
    font-size: 2vw;
}

/* ==============
    COLUMNS : ABOUT
==================*/ 
.Row {
    height: 46.875vw;
    width: 100%;
    max-height: 100%;
    max-width: 100%;

}

.Column_1 {
    float: left;
    width: 50%;    
    background-color: black;
    height: 100%;
}.Column_1 img {
    margin: 20% 15%;
    width: 19.53125vw;
    height: 19.53125vw;
    border:  0.4vw outset #00FF41;
    border-radius: 5px;
}
.Column_2 {
    float: left;
    width: 50%;
    background-color: black;
    height: 100%;
}.Column_2 h1 {
    font-size: 3.90625vw;
    font-family: 'Press Start 2P', cursive;
    color: #008F11;
    margin-left: 20%;

}.Column_2 p {
    padding: 3.5% 10px;
    font-size:  1.3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #008F11;
    width: 80%;
    max-height: 100%;
   
    border-radius: 10px;
    border: 0.6510416vw dashed #02dd39;
}

/* =======================
    COLUMNS : MEDIA & EXPERIENCE
===========================*/ 
.Column1_Row {
    float: left;
    width: 50%;
    background-color: #00d635;
    height: 100%;
}.Slide_Images {
    margin-top: 30%;
    margin-left: 30%;
    width: 16.27604168vw;
    max-width: 100%;
    height: 16.27604168vw;
    max-height: 100%;
    border-radius: 10%;
    border: 0.6vw solid black;
    overflow: hidden;
}.Slide_Images img {
    width: 100%;
    height: 100%;
}
.Column2_Row {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #008F11;
    text-align: center;

}
.Column_2_Row {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Column2_Row h1 {
    font-size: 4.08vw;
    
}

.Column2_Row p {
    padding: 20px 10px;
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 80%;
    margin: 0 10%;
}
#GitHub_Info {
    display: block;
}
#Experience_Info {
    display: none;
}
#CandUnity_Info{
    display: none;
}
#CandUnreal_Info{
    display: none;
}

/* Next & Previous Buttons */
.prev,
.next {
    cursor: pointer;
    position: relative;
    bottom: 20%;
    left: 22%;
    padding:  0.8vw;
    font-weight: bolder;
    font-size: 2vw;

}.next {
    left: 63%;
}.prev:hover,
.next:hover {
  background-color: rgba(97, 94, 94, 0.8);
}



/*=================
  PROJECT SECTION
=================*/

.project_div{
    
    height: 700px;
    background-color: black;


}
.project_images{
    max-width: 50%;
    width: 50%;
    height: 100%;
    background-color: blue;
    float: left;
}.project_imageTall{
    background-color: purple;
    width: 50%;
    height: 100%;
    float: right;

}.project_imageSmall{
    background-color: yellow;
    width: 50%;
    height: 25%;
}
.project_text{
    background-color: red;
    width: 50%;
    height: 700px;
    float: right;

}

/*=================
    CONTACT FORM
=================*/

#Contact {
position: fixed;
top: 25%;
left: 75%;
transition: transform 2s;
width: 100vw;
}
#Contact a {
    font-weight: 900;
    cursor: pointer;
}

.Navbar a:nth-child(4):hover .Contact-Form { 
background-color: blue;
}

form {
    box-shadow: 0px 1px 100px rgba(0, 0, 0, .8);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 30%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: "Trebuchet MS", Optima;
}form h1 {
    text-align: center;

}


input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* This creates a box with a border around the contact form input boxes */
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical; /* This allows the user to resize the text boxes vertically */
    font-family: Perpetua, Rockwell Extra Bold;
}input[type=text]:hover {
    box-shadow: 0 0 5px #008F11 inset; /* This creates a blue shadow in the text box when hovered over by the user */
}

input[type=submit] {
    background-color: black;
    color: white;
    font-size: bold;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}input[type=submit]:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
    transition: transform 1.5s;
}



footer, footer a {
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
